<section id='Contents' class='container'>
  <div class='Music-Play'>
    <%= link_to('全曲シャッフル再生（モバイルデータ 用）', music_all_shuffle_play_path(@dj_all_mp3), class: 'Music-Play__Btn btn btn-outline-dark') %>
    <%= link_to('全曲シャッフル再生（ロスレス再生 用）', music_all_shuffle_play_path(@dj_all_flac), class: 'Music-Play__Btn btn btn-outline-dark') %>
  </div>
</section>
